schema/1.01-dev/schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <start>
    <ref name="PRODUCT" />
  </start>

  <define name="PRODUCT">
    <element name="product">
      <optional>
        <element name="sku">
          <data type="token" />
        </element>
        <element name="sgtin">
          <data type="token" />
        </element>
        <element name="gtin">
          <data type="token" />
        </element>
      </optional>
      <element name="name">
        <ref name="NOTEMPTY" />
      </element>
      <element name="brand">
        <text/>
      </element>
      <optional>
        <element name="company">
          <text/>
        </element>
        <element name="season">
          <text/>
        </element>
        <ref name="PRODUCT_WEIGHT" />
      </optional>
      <element name="colourway">
        <text/>
      </element>
      <ref name="PRODUCT_CATEGORY" />
      <ref name="PRODUCT_TYPE" />
      <oneOrMore>
        <ref name="ASSEMBLY"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="STEP"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="CERTIFICATION"/>
      </zeroOrMore>
      <optional>
        <element name="instructions">
          <text/>
        </element>
        <ref name="FINISHING"/>
        <ref name="EMBELLISHMENT"/>
      </optional>
    </element>
  </define>

  <define name="ASSEMBLY">
    <element name="assembly">
      <element name="name">
        <text/>
      </element>
      <oneOrMore>
        <ref name="MATERIAL"/>
      </oneOrMore>
    </element>
  </define>

  <define name="MATERIAL">
    <element name="material">
      <ref name="MATERIAL_TYPE"/>
      <element name="name">
        <text/>
      </element>
      <oneOrMore>
        <ref name="COMPONENT"/>
      </oneOrMore>
      <optional>
        <ref name="WEIGHT" />
        <element name="consumption">
          <data type="decimal"/>
          <attribute name="unit">
            <list>
              <choice>
                <value>sqm</value>
              </choice>
            </list>
          </attribute>
        </element>
        <element name="construction">
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="STEP"/>
      </zeroOrMore>
      <ref name="COLOUR"/>
      <optional>
        <ref name="PATTERN"/>
      </optional>
      <ref name="DYEING_METHOD"/>
      <element name="dyestuff">
        <text/>
      </element>
      <ref name="PRINTING_METHOD"/>
      <optional>
        <element name="print_dyestuff">
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="FINISHING" />
      </zeroOrMore>
      <oneOrMore>
        <ref name="CHEMICAL_COMPLIANCE"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="BIODEGRADABILITY_CERTIFICATION"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="MATERIAL_CERTIFICATION"/>
      </zeroOrMore>
      <optional>
        <ref name="TANNING_METHOD"/>
      </optional>
      <optional>
        <element name="tanning_agent">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="pretanning_method">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="pretanning_agent">
          <text/>
        </element>
        <ref name="EMBELLISHMENT"/>
      </optional>
    </element>
  </define>

  <define name="COMPONENT">
    <element name="component">
      <element name="fiber_component">
        <text/>
      </element>
      <element name="percentage">
        <data type="decimal"/>
        <!-- percentage total should be 100 -->
      </element>
      <element name="is_recycled">
        <data type="boolean"/>
      </element>
      <optional>
        <element name="source_recycled_input">
          <text/>
        </element>
        <element name="source_raw_material">
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="STEP"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="STEP">
    <element name="step">
      <element name="type">
        <text/>
      </element>
      <element name="country">
        <text/>
      </element>
      <optional>
        <element name="company_name">
          <text/>
        </element>
        <element name="street">
          <text/>
        </element>
        <element name="postal">
          <text/>
        </element>
        <element name="city">
          <text/>
        </element>
        <element name="oar">
          <text/>
        </element>
        <element name="additional_information">
          <text/>
        </element>
      </optional>
    </element>
  </define>

  <define name="PRODUCT_CATEGORY">
    <element name="product_category">
        <list>
            <choice>
                <value>Clothing</value>
                <value>Accessories</value>
                <value>Footwear</value>
                <value>Other</value>
            </choice>
        </list>
    </element>
  </define>

  <define name="CERTIFICATION">
    <element name="certification">
      <text />
      <!-- in development: adding choices
           these are certifications for the PRODUCT
        <list>
            <choice>
                <value>CERTIFICATION 1</value>
                <value>CERTIFICATION 2</value>
                <value>CERTIFICATION 3</value>
                <value>CERTIFICATION 4</value>
            </choice>
        </list>
        -->
    </element>
  </define>

  <define name="PRODUCT_TYPE">
    <element name="product_type">
      <text />
      <!-- in development: adding choices
        <list>
            <choice>
                <value>Clothing</value>
                <value>Accessories</value>
                <value>Footwear</value>
                <value>Other</value>
            </choice>
        </list>
        -->
    </element>
  </define>

  <define name="MATERIAL_TYPE">
    <element name="type">
      <text />
      <!-- in development: adding choices
        <list>
          <choice>
              <value>Leather</value>
              <value>Trim</value>
              <value>Fabric</value>
              <value>Yarn</value>
          </choice>
        </list>
        -->
    </element>
  </define>

  <define name="WEIGHT">
    <element name="weight">
      <data type="decimal"/>
      <attribute name="unit">
        <list>
          <choice>
            <value>gsm</value>
          </choice>
        </list>
      </attribute>
    </element>
  </define>

  <define name="PRODUCT_WEIGHT">
    <element name="product_weight">
      <data type="decimal"/>
      <attribute name="unit">
        <list>
          <choice>
            <value>kg</value>
            <value>g</value>
            <value>oz</value>
            <value>lb</value>
          </choice>
        </list>
      </attribute>
    </element>
  </define>

  <define name="EMBELLISHMENT">
    <element name="embellishment">
      <text />
      <!-- in development: adding choices
        <list>
          <choice>
              <value>Cyan</value>
              <value>Magenta</value>
              <value>Yellow</value>
              <value>Black</value>
          </choice>
        </list>
        -->
    </element>
  </define>

  <define name="FINISHING">
    <element name="finishing">
      <text />
      <!-- in development: adding choices
        <list>
          <choice>
              <value>Cyan</value>
              <value>Magenta</value>
              <value>Yellow</value>
              <value>Black</value>
          </choice>
        </list>
        -->
    </element>
  </define>

  <define name="COLOUR">
    <element name="colour">
      <text />
      <!-- in development: adding choices
        <list>
          <choice>
              <value>Cyan</value>
              <value>Magenta</value>
              <value>Yellow</value>
              <value>Black</value>
          </choice>
        </list>
        -->
    </element>
  </define>

  <define name="PATTERN">
    <element name="pattern">
      <text />
      <!-- in development: adding choices
        <list>
          <choice>
              <value>Houndstooth</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
    </element>
  </define>

  <define name="DYEING_METHOD">
    <element name="dyeing_method">
      <text />
      <!-- in development: adding choices
        <list>
          <choice>
              <value>we have some choices</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
    </element>
  </define>

  <define name="PRINTING_METHOD">
    <element name="printing_method">
      <text />
      <!-- in development: adding choices
        <list>
          <choice>
              <value>we have some choices</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
    </element>
  </define>

  <define name="TANNING_METHOD">
    <element name="tanning_method">
        <list>
          <choice>
              <value>synthetic</value>
              <value>vegetable</value>
          </choice>
        </list>
    </element>
  </define>

  <define name="CHEMICAL_COMPLIANCE">
    <element name="chemical_compliance">
        <list>
          <choice>
              <value>C2C</value>
              <value>Fairtrade Prohibited Material List</value>
              <value>Global Recycling Standard</value>
              <value>IVN</value>
              <value>REACH</value>
              <value>ZDHC</value>
              <value>MRSL</value>
              <value>ECHA SVHC Candidate List</value>
          </choice>
        </list>
    </element>
  </define>

  <define name="BIODEGRADABILITY_CERTIFICATION">
    <element name="biodegradability_certification">
      <!--
           these are choices for the material biodegradability certs
      -->
        <list>
          <choice>
            <value>ISO 11721-1</value>
            <value>ISO 846</value>
            <value>en 13432</value>
            <value>OECD 301 A</value>
            <value>OECD 301 E</value>
            <value>ISO 7827</value>
            <value>OECD 302 A</value>
            <value>ISO 9887</value>
            <value>OECD 302 B</value>
            <value>ISO 9888</value>
            <value>OECD 303 A</value>
            <value>OECD 301 D</value>
            <value>OECD 310</value>
            <value>DIN EN ISO 14593</value>
            <value>DIN EN ISO 9408</value>
            <value>OECD 301 F</value>
            <value>OECD 302 A</value>
            <value>OECD 302B</value>
            <value>CEC-L-103-12</value>
            <value>OECD 311</value>
            <value>DIN EN ISO 11734</value>
          </choice>
        </list>
    </element>
  </define>

  <define name="MATERIAL_CERTIFICATION">
    <element name="material_certification">
        <list>
          <choice>
            <value>C2C Bronce</value>
            <value>C2C Silver</value>
            <value>C2C Gold</value>
            <value>C2C Platin</value>
            <value>GOTS</value>
            <value>IVN Best</value>
            <value>GRS Global Recycling Standard</value>
            <value>EU Ecolabel</value>
            <value>BSCI</value>
            <value>Fairtrade</value>
            <value>SA8000</value>
            <value>C2C Silver</value>
            <value>C2C Gold</value>
            <value>C2C Platin</value>
            <value>GRS</value>
            <value>GOTS</value>
            <value>IVN</value>
            <value>ILO</value>
            <value>Global Compact</value>
            <value>Naturleder</value>
            <value>IVN</value>
            <value>LWG (Leather Working Group) Gold</value>
            <value>LWG (Leather Working Group) Silver</value>
            <value>LWG (Leather WorkingGroup) Bronze</value>
            <value>Ecopelle,</value>
            <value>ICEC</value>
          </choice>
        </list>
    </element>
  </define>

  <define name="NOTEMPTY">
    <data type="string">
      <!-- allow for newlines, but not just whitespace -->
      <param name="pattern">
      (.|\n|\r)*\S(.|\n|\r)*</param>
      <!-- at least one character should be included -->
      <param name="minLength">
      1</param>
    </data>
  </define>

</grammar>
