schema/2.1/schema.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

start = PRODUCT
PRODUCT =
  element product {
    element sku { xsd:token }?
    & element sgtin { xsd:token }?
    & element gtin { xsd:token }?
    & element name { NOTEMPTY }
    & element brand { text }
    & element company { text }?
    & element season { text }?
    & element colourway { NOTEMPTY }
    & PRODUCT_CATEGORY
    & PRODUCT_TYPE?
    & PRODUCT_WEIGHT?
    & ASSEMBLY+
    & STEP*
    & CERTIFICATION*
    & FINISHING*
    & element instructions { text }?
  }
ASSEMBLY =
  element assembly {
    element name { text }
    & MATERIAL+
  }
MATERIAL =
  element material {
    MATERIAL_TYPE
    & element name { text }
    & CONSTRUCTION?
    & COMPONENT+
    & WEIGHT?
    & element consumption {
        xsd:decimal,
        attribute unit {
          list { "sqm" }
        }
      }?
    & STEP*
    & COLOUR+
    & element colour_description { text }?
    & element description { text }?
    & element image { text }?
    & PATTERN?
    & DYEING_METHOD
    & element dyestuff { text }?
    & PRINTING_METHOD
    & element print_dyestuff { text }?
    & FINISHING*
    & CHEMICAL_COMPLIANCE*
    & BIODEGRADABILITY_CERTIFICATION*
    & MATERIAL_CERTIFICATION*
    & TANNING_METHOD?
    & element tanning_agent { text }?
    & PRETANNING_METHOD?
    & element pretanning_agent { text }?
  }
COMPONENT =
  element component {
    CONTENT
    & element percentage {
        xsd:decimal
        # percentage total should be 100
        
      }
    & element is_recycled { xsd:boolean }
    & element source_recycled_input { text }?
    & element source_raw_material { text }?
    & STEP*
  }
STEP =
  element step {
    element type {
      list {
        "dyeing"
        | "finishing"
        | "printing"
        | "production"
        | "production_of_raw_material"
        | "rawhide"
        | "spinning"
        | "tannery"
        | "printing"
      }
    }
    & element country { text }
    & element description { text }?
    & element company_name { text }?
    & element street { text }?
    & element postal { text }?
    & element city { text }?
    & element oar { text }?
    & element image { text }?
  }
# CHOICES:
# Here we list out the choice possibilities that we validate against
# it is important here to follow a few rules when adding choices
#   - use snake_case for all of the real words.
#     - snake_case is replacing spaces with underscores, and making no caps
#     - examples: footwear, beads_and_sequins water-tight_solvent
#  - abbreviations use ALL_CAPS - examples: EU, GOTS, GRS
PRODUCT_CATEGORY =
  element product_category {
    list { "clothing" | "accessories" | "footwear" | "other" }
  }
PRODUCT_TYPE =
  element product_type {
    text
    # in development: adding choices
    #    i am keeping track of the used xml categories here
    # <list>
    #     <choice>
    #       <value>t-shirt</value>
    #     </choice>
    # </list>
    
  }
PRODUCT_WEIGHT =
  element product_weight {
    text,
    # TODO: replace this with a decimal or null type field in the future
    attribute unit {
      list { "g" | "kg" | "oz" | "lb" }
    }
  }
CERTIFICATION =
  # these are product certifications
  element certification {
    text
    # in development: adding choices
    #    these are certifications for the PRODUCT
    # <list>
    #     <choice>
    #         <value>CERTIFICATION 1</value>
    #         <value>CERTIFICATION 2</value>
    #         <value>CERTIFICATION 3</value>
    #         <value>CERTIFICATION 4</value>
    #     </choice>
    # </list>
    
  }
CONTENT =
  element content {
    list {
      "abaca"
      | "bamboo"
      | "banana"
      | "bee_wax"
      | "coconut"
      | "cork"
      | "corn"
      | "corozo"
      | "cotton"
      | "hemp"
      | "jute"
      | "kapok"
      | "manila_hemp"
      | "mother_of_pearl"
      | "natural_latex"
      | "natural_rubber"
      | "nettle"
      | "organic_cotton"
      | "organic_hemp"
      | "organic_linen"
      | "pineapple_fiber"
      | "ramie"
      | "sisal"
      | "soy"
      | "stone_nut"
      | "vegetable_ivory"
      | "wax"
      | "wood"
      | "alpaca"
      | "casein"
      | "cashmere"
      | "merino_wool"
      | "mohair"
      | "organic_wool"
      | "organic_silk"
      | "peace_silk"
      | "silk"
      | "wool"
      | "yak"
      | "bamboo_rayon"
      | "cupro"
      | "ecovero"
      | "lyocell"
      | "modal"
      | "orange_fiber"
      | "rayon"
      | "refibra"
      | "tencel"
      | "viscose"
      | "acetate"
      | "acrylic"
      | "bio-PDO"
      | "biodegradable_polyester"
      | "cellulose_acetate"
      | "econyl"
      | "elastane"
      | "modacrylic"
      | "nylon"
      | "polyamide"
      | "polyester"
      | "polyether"
      | "polyethylene"
      | "polylactic_acid"
      | "polyurethane"
      | "resin"
      | "solvent-free_polyurethane"
      | "triacetate"
      | "water-based_polyurethane"
      | "aluminium"
      | "brass"
      | "bronze"
      | "metal"
      | "ivory_nut"
      | "copper"
      | "nickel"
      | "stainless_steel"
      | "titanium"
      | "zinc"
      | "zinc_alloy"
      | "water-based_adhesive"
      | "solvent-free_adhesive"
    }
  }
MATERIAL_TYPE =
  element type {
    list {
      "fabric" | "yarn" | "trim" | "leather" | "alternative_leather"
    }
  }
WEIGHT =
  element weight {
    xsd:decimal,
    attribute unit {
      list { "gsm" }
    }
  }
FINISHING =
  element finishing {
    list {
      "beading_sequins"
      | "prepared_for_dyeing"
      | "ready_to_dye"
      | "sheared_or_singed"
      | "washed"
      | "calendered"
      | "caseins"
      | "coated"
      | "desized"
      | "embroidery"
      | "fillers"
      | "matting_agents"
      | "mercerized"
      | "natural"
      | "oils"
      | "raised"
      | "roughened"
      | "sanforized"
      | "softening_agents"
      | "washed"
      | "waxes"
    }
  }
COLOUR =
  element colour {
    list {
      "beige"
      | "black"
      | "blue"
      | "brown"
      | "coral"
      | "gold"
      | "green"
      | "grey"
      | "khaki"
      | "navy"
      | "nude"
      | "off-white"
      | "orange"
      | "pink"
      | "purple"
      | "red"
      | "rose"
      | "silver"
      | "taupe"
      | "teal"
      | "turquoise"
      | "untreated"
      | "white"
      | "yellow"
    }
  }
PATTERN =
  element pattern {
    list {
      "none"
      | "abstract"
      | "baby_and_kids"
      | "black_and_white"
      | "check"
      | "checked"
      | "chevron"
      | "damask"
      | "dotted"
      | "floral"
      | "geometric"
      | "gingham"
      | "heathered"
      | "herringbone"
      | "houndstooth"
      | "marled"
      | "melange"
      | "mixed"
      | "motifs_for_children"
      | "ombre"
      | "other_pattern"
      | "other"
      | "paisley"
      | "self_striping"
      | "stars"
      | "striped"
      | "stripes"
      | "tartan"
      | "unicoloured"
    }
  }
DYEING_METHOD =
  element dyeing_method {
    list {
      "none"
      | "top_dyed"
      | "yarn_dyed"
      | "dope_dyed"
      | "aniline"
      | "dyed_through"
      | "pigmented"
      | "top_coat"
      | "piece_dyed"
      | "reactive_dyed"
    }
  }
PRINTING_METHOD =
  element printing_method {
    list {
      "none"
      | "digital_printed"
      | "hand_painted"
      | "inkjet_printed"
      | "roller_printed"
      | "screen_printed"
      | "rotary_printed"
    }
  }
TANNING_METHOD =
  element tanning_method {
    list { "synthetic" | "vegetable" }
  }
PRETANNING_METHOD =
  element pretanning_method {
    list { "synthetic" | "vegetable" }
  }
CHEMICAL_COMPLIANCE =
  element chemical_compliance {
    list {
      "C2C"
      | "fairtrade_prohibited_material_list"
      | "global_recycling_standard"
      | "IVN"
      | "REACH"
      | "ZDHC"
      | "MRSL"
      | "ECHA_SVHC_candidate_list"
    }
  }
CONSTRUCTION =
  element construction {
    list {
      "birds_eye"
      | "cable"
      | "cardigan"
      | "fleece"
      | "french_terry"
      | "intarsia"
      | "interlock"
      | "jacquard_jersey"
      | "lacoste"
      | "milano_rib"
      | "pointelle"
      | "purl_knit"
      | "rachel"
      | "rib_knit"
      | "single_jersey"
      | "sliver_knit"
      | "tricot"
      | "velour"
      | "plain_weave"
      | "basket_weave"
      | "buckram"
      | "cambric"
      | "chiffon"
      | "chintz"
      | "corduroy"
      | "crepe"
      | "denim"
      | "dobby"
      | "drill"
      | "flannel"
      | "gabardine"
      | "georgette"
      | "jacquard"
      | "khadi"
      | "boucle"
      | "pique"
      | "poplin"
      | "satin"
      | "sateen"
      | "taffeta"
      | "twill"
      | "non_woven"
      | "woven"
      | # from alternative leather:
        "non_woven_dry_laid"
      | "non_woven_wet_laid"
      | "non_woven_spunlaid"
      | "non_woven_meltblown"
      | "non_woven_needle-punched"
      | "bonded"
      | "naturally_occurring"
      | "lab_grown"
      | "biotextile"
      | # from trim type:
        "beads"
      | "braid"
      | "metal"
      | "buckle"
      | "button"
      | "care_label"
      | "collar_stay"
      | "elastic"
      | "eyelet_grommet"
      | "fusing_material"
      | "hook_and_loop"
      | "interfacing"
      | "lace"
      | "label"
      | "piping_cord "
      | "rivets"
      | "seam_sealing_tape"
      | "sequins"
      | "shoulder_pad"
      | "string_draw_cord"
      | "swivel_hook"
      | "twill_tape"
      | "velcro_tape"
      | "wadding "
      | "zipper"
    }
  }
BIODEGRADABILITY_CERTIFICATION =
  element biodegradability_certification {
    list {
      "ISO_11721-1"
      | "ISO_846"
      | "en_13432"
      | "OECD_301_A"
      | "OECD_301_E"
      | "ISO_7827"
      | "OECD_302_A"
      | "ISO_9887"
      | "OECD_302_B"
      | "ISO_9888"
      | "OECD_303_A"
      | "OECD_301_D"
      | "OECD_310"
      | "DIN_EN_ISO_14593"
      | "DIN_EN_ISO_9408"
      | "OECD_301_F"
      | "OECD_302_A"
      | "CEC-L-103-12"
      | "OECD_311"
      | "DIN_EN_ISO_11734"
    }
  }
MATERIAL_CERTIFICATION =
  element material_certification {
    list {
      "C2C_bronce"
      | "C2C_silver"
      | "C2C_gold"
      | "C2C_platin"
      | "GOTS"
      | "EU_ecolabel"
      | "BSCI"
      | "fairtrade"
      | "REACH"
      | "SA8000"
      | "C2C_silver"
      | "C2C_gold"
      | "C2C_platin"
      | "GRS"
      | "GOTS"
      | "ILO"
      | "global_compact"
      | "naturleder"
      | "IVN"
      | "LWG_gold"
      | "LWG_silver"
      | "LWG_bronze"
      | "ecopelle"
      | "bluesign"
      | "ICEC"
      | "OEKO-TEX_STeP"
      | "OEKO-TEX_Standard_100"
      | "MSDS_raw_material_origin"
      | "MSDS_spinning"
      | "MSDS_dyeing"
      | "MSDS_finishing"
      | "ICEC_chemicals_management_system"
      | "ICEC_eco-leathers"
      | "ICEC_environmental_management_system"
      | "ICEC_leather_traceability"
      | "ICEC_occupational_health_and_safety_management_system"
      | "ICEC_product_certification_for_finished_leathers"
      | "ICEC_quality_management_system"
      | "UNIC"
      | "RCS"
      | "OEKO-TEX_leather_standard"
    }
  }
NOTEMPTY =
  xsd:string {
    # allow for newlines, but not just whitespace
    pattern = "(.|\n|\r)*\S(.|\n|\r)*"
    # at least one character should be included
    minLength = "1"
  }
