schema/0.9/schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
      <ref name="PRODUCT" />
    </start>

    <define name="PRODUCT">
      <element name="product">
            <optional>
                <element name="sku">
                    <data type="token" />
                </element>
                <element name="sgtin">
                    <data type="token" />
                </element>
                <element name="gtin">
                    <data type="token" />
                </element>
            </optional>
            <element name="name">
               <data type="token" />
            </element>
            <element name="brand">
                <text/>
            </element>
            <optional>
                <element name="company">
                    <text/>
                </element>
                <element name="season">
                    <text/>
                </element>
            </optional>
            <element name="colourway">
                <text/>
            </element>
            <ref name="PRODUCT-CATEGORY" />
            <ref name="PRODUCT-TYPE" />
            <oneOrMore>
                <ref name="ASSEMBLY"/>
            </oneOrMore>
            <zeroOrMore>
                <ref name="STEP"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="CERTIFICATION"/>
            </zeroOrMore>
            <optional>
                <element name="instructions_for_disassembly">
                    <text/>
                </element>
                <ref name="FINISHING"/>
                <ref name="EMBELLISHMENT"/>
            </optional>
        </element>
    </define>


    <define name="ASSEMBLY">
        <element name="assembly">
            <element name="name">
                <text/>
            </element>
            <oneOrMore>
                <ref name="MATERIAL"/>
            </oneOrMore>

        </element>
    </define>

    <define name="MATERIAL">
        <element name="material">
            <ref name="MATERIAL-TYPE"/>
            <element name="name">
                <text/>
            </element>
            <oneOrMore>
                <ref name="COMPONENT"/>
            </oneOrMore>
            <optional>
              <ref name="WEIGHT" />
              <element name="consumption">
                  <data type="decimal"/>
                  <attribute name="unit">
                      <list>
                          <choice>
                              <value>sq-cm</value>
                              <value>sq-inch</value>
                          </choice>
                      </list>
                  </attribute>
              </element>
              <element name="construction">
                <text/>
              </element>
            </optional>
            <zeroOrMore>
                <ref name="STEP"/>
            </zeroOrMore>

            <ref name="COLOR"/>
            <optional>
              <ref name="PATTERN"/>
            </optional>
            <ref name="DYEING-METHOD"/>

            <element name="dyestuff">
                <text/>
            </element>

            <ref name="PRINTING-METHOD"/>

            <optional>
                <element name="print_dyestuff">
                    <text/>
                </element>
            </optional>

            <zeroOrMore>
              <ref name="FINISHING" />
            </zeroOrMore>

            <ref name="CHEMICAL-COMPLIANCE"/>
            <optional>
              <ref name="BIODEGRADABILITY-CERTIFICATION"/>
            </optional>

            <optional>
              <ref name="MATERIAL-CERTIFICATION"/>
            </optional>

            <optional>
              <ref name="TANNING-METHOD"/>
            </optional>
            <optional>
                <element name="tanning_agent">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="pretanning_method">
                    <text/>
                </element>
            </optional>
            <optional>
                <element name="pretanning_agent">
                    <text/>
                </element>
                <ref name="EMBELLISHMENT"/>
            </optional>
        </element>
    </define>


    <define name="COMPONENT">
        <element name="component">
            <element name="fiber_component">
                <text/>
            </element>
            <element name="percentage">
                <data type="decimal"/><!-- percentage total should be 100 -->
            </element>
            <element name="is_recycled">
                <data type="boolean"/>
            </element>
            <optional>
              <element name="source_recycled_input">
                <text/>
              </element>
              <element name="source_raw_material">
                <text/>
              </element>
            </optional>
        </element>
    </define>


    <define name="STEP">
        <element name="step">
            <element name="type">
                <text/>
            </element>
            <element name="country">
                <text/>
            </element>
            <optional>
                <element name="company_name">
                    <text/>
                </element>
                <element name="street">
                    <text/>
                </element>
                <element name="postal">
                    <text/>
                </element>
                <element name="city">
                    <text/>
                </element>
                <element name="oar">
                    <text/>
                </element>
                <element name="additional_information">
                    <text/>
                </element>
            </optional>
        </element>
    </define>


    <define name="PRODUCT-CATEGORY">
      <element name="product_category">
        <text />
        <!-- in development: adding choices
            <list>
                <choice>
                    <value>Clothing</value>
                    <value>Accessories</value>
                    <value>Footwear</value>
                    <value>Other</value>
                </choice>
            </list>
            -->
        </element>
    </define>

    <define name="CERTIFICATION">
      <element name="certification">
        <text />
        <!-- in development: adding choices
            <list>
                <choice>
                    <value>CERTIFICATION 1</value>
                    <value>CERTIFICATION 2</value>
                    <value>CERTIFICATION 3</value>
                    <value>CERTIFICATION 4</value>
                </choice>
            </list>
            -->
        </element>
    </define>


    <define name="PRODUCT-TYPE">
      <element name="product_type">
        <text />
        <!-- in development: adding choices
            <list>
                <choice>
                    <value>Clothing</value>
                    <value>Accessories</value>
                    <value>Footwear</value>
                    <value>Other</value>
                </choice>
            </list>
            -->
        </element>
    </define>



    <define name="MATERIAL-TYPE">
      <element name="type">
        <text />
        <!-- in development: adding choices
        <list>
          <choice>
              <value>Leather</value>
              <value>Trim</value>
              <value>Fabric</value>
              <value>Yarn</value>
          </choice>
        </list>
        -->
      </element>
    </define>

    <define name="WEIGHT">
      <element name="weight">
        <data type="decimal"/>
        <attribute name="unit">
            <list>
                <choice>
                    <value>kg</value>
                    <value>g</value>
                    <value>oz</value>
                    <value>lb</value>
                </choice>
            </list>
        </attribute>
      </element>
    </define>

    <define name="EMBELLISHMENT">
      <element name="embellishment">
        <text />
        <!-- In development: adding choices
        <list>
          <choice>
              <value>Cyan</value>
              <value>Magenta</value>
              <value>Yellow</value>
              <value>Black</value>
          </choice>
        </list>
        -->
      </element>
    </define>

    <define name="FINISHING">
      <element name="finishing">
        <text />
        <!-- In development: adding choices
        <list>
          <choice>
              <value>Cyan</value>
              <value>Magenta</value>
              <value>Yellow</value>
              <value>Black</value>
          </choice>
        </list>
        -->
      </element>
    </define>


    <define name="COLOR">
      <element name="color">
        <text />
        <!-- In development: adding choices
        <list>
          <choice>
              <value>Cyan</value>
              <value>Magenta</value>
              <value>Yellow</value>
              <value>Black</value>
          </choice>
        </list>
        -->
      </element>
    </define>

    <define name="PATTERN">
      <element name="pattern">
        <text />
        <!-- In development: adding choices
        <list>
          <choice>
              <value>Houndstooth</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
      </element>
    </define>

    <define name="DYEING-METHOD">
      <element name="dyeing_method">
        <text />
        <!-- In development: adding choices
        <list>
          <choice>
              <value>we have some choices</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
      </element>
    </define>

    <define name="PRINTING-METHOD">
      <element name="printing_method">
        <text />
        <!-- in development: adding choices
        <list>
          <choice>
              <value>we have some choices</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
      </element>
    </define>

    <define name="TANNING-METHOD">
      <element name="tanning_method">
        <text />
        <!-- in development: adding choices
        <list>
          <choice>
              <value>we have some choices</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
      </element>
    </define>


    <define name="CHEMICAL-COMPLIANCE">
      <element name="chemical_compliance">
        <text />
        <!-- in development: adding choices
        <list>
          <choice>
              <value>we have some choices</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
      </element>
    </define>

    <define name="BIODEGRADABILITY-CERTIFICATION">
      <element name="biodegradability_certification">
        <text />
        <!-- in development: adding choices
        <list>
          <choice>
              <value>we have some choices</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
      </element>
    </define>

    <define name="MATERIAL-CERTIFICATION">
      <element name="material_certification">
        <text />
        <!-- in development: adding choices
        <list>
          <choice>
              <value>we have some choices</value>
              <value>something</value>
              <value>or</value>
              <value>other</value>
          </choice>
        </list>
        -->
      </element>
    </define>

</grammar>
