schema/2.0/schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <start>
    <ref name="PRODUCT" />
  </start>

  <define name="PRODUCT">
    <element name="product">
      <interleave>
        <optional>
    <element name="sku">
      <data type="token" />
    </element>
        </optional>
        <optional>
    <element name="sgtin">
      <data type="token" />
    </element>
        </optional>
        <optional>
    <element name="gtin">
      <data type="token" />
    </element>
        </optional>
        <element name="name">
    <ref name="NOTEMPTY" />
        </element>
        <element name="brand">
    <text/>
        </element>
        <optional>
    <element name="company">
      <text/>
    </element>
        </optional>
        <optional>
    <element name="season">
      <text/>
    </element>
        </optional>
        <element name="colourway">
    <ref name="NOTEMPTY" />
        </element>
        <ref name="PRODUCT_CATEGORY" />
        <optional>
    <ref name="PRODUCT_TYPE" />
        </optional>
              <optional>
          <ref name="PRODUCT_WEIGHT" />
              </optional>
        <oneOrMore>
    <ref name="ASSEMBLY"/>
        </oneOrMore>
        <zeroOrMore>
    <ref name="STEP"/>
        </zeroOrMore>
        <zeroOrMore>
    <ref name="CERTIFICATION"/>
        </zeroOrMore>
        <zeroOrMore>
    <ref name="FINISHING"/>
        </zeroOrMore>
        <optional>
    <element name="instructions">
      <text/>
    </element>
        </optional>
       </interleave>
    </element>
  </define>

  <define name="ASSEMBLY">
    <element name="assembly">
      <interleave>
        <element name="name">
          <text/>
        </element>
        <oneOrMore>
          <ref name="MATERIAL"/>
        </oneOrMore>
      </interleave>
    </element>
  </define>

  <define name="MATERIAL">
    <element name="material">
         <interleave>
           <ref name="MATERIAL_TYPE"/>
           <element name="name">
             <text/>
           </element>
           <optional>
             <ref name="CONSTRUCTION"/>
           </optional>
           <oneOrMore>
             <ref name="COMPONENT"/>
           </oneOrMore>
           <optional>
             <ref name="WEIGHT" />
           </optional>
           <optional>
             <element name="consumption">
               <data type="decimal"/>
               <attribute name="unit">
                 <list>
                   <choice>
                     <value>sqm</value>
                   </choice>
                 </list>
               </attribute>
             </element>
           </optional>
           <zeroOrMore>
             <ref name="STEP"/>
           </zeroOrMore>
           <oneOrMore>
             <ref name="COLOUR"/>
           </oneOrMore>
           <optional>
             <element name="colour_description">
               <text/>
             </element>
           </optional>
           <optional>
             <element name="description">
               <text/>
             </element>
           </optional>
           <optional>
             <element name="image">
               <text/>
             </element>
           </optional>
           <optional>
             <ref name="PATTERN"/>
           </optional>
           <ref name="DYEING_METHOD"/>
           <optional>
             <element name="dyestuff">
               <text/>
             </element>
           </optional>
           <ref name="PRINTING_METHOD"/>
           <optional>
             <element name="print_dyestuff">
               <text/>
             </element>
           </optional>
           <zeroOrMore>
             <ref name="FINISHING" />
           </zeroOrMore>
           <zeroOrMore>
             <ref name="CHEMICAL_COMPLIANCE"/>
           </zeroOrMore>
           <zeroOrMore>
             <ref name="BIODEGRADABILITY_CERTIFICATION"/>
           </zeroOrMore>
           <zeroOrMore>
             <ref name="MATERIAL_CERTIFICATION"/>
           </zeroOrMore>
           <optional>
             <ref name="TANNING_METHOD"/>
           </optional>
           <optional>
             <element name="tanning_agent">
               <text/>
             </element>
           </optional>
           <optional>
             <ref name="PRETANNING_METHOD"/>
           </optional>
           <optional>
             <element name="pretanning_agent">
               <text/>
             </element>
           </optional>
         </interleave>
    </element>
  </define>

  <define name="COMPONENT">
    <element name="component">
      <interleave>
        <optional>
          <element name="name">
            <text/>
          </element>
        </optional>
        <ref name="CONTENT"/>
        <element name="percentage">
          <data type="decimal"/>
          <!-- percentage total should be 100 -->
        </element>
        <element name="is_recycled">
          <data type="boolean"/>
        </element>
        <optional>
          <element name="source_recycled_input">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="source_raw_material">
            <text/>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="STEP"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="STEP">
    <element name="step">
      <interleave>
        <element name="type">
           <list>
              <choice>
                <value>dyeing</value>
                <value>finishing</value>
                <value>printing</value>
                <value>production</value>
                <value>production_of_raw_material</value>
                <value>rawhide</value>
                <value>spinning</value>
                <value>tannery</value>
                <value>printing</value>
              </choice>
            </list>
        </element>
        <element name="country">
          <text/>
        </element>
        <optional>
          <element name="description">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="company_name">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="street">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="postal">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="city">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="oar">
            <text/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <!-- CHOICES:
       Here we list out the choice possibilities that we validate against
       it is important here to follow a few rules when adding choices
         - use snake_case for all of the real words.
           - snake_case is replacing spaces with underscores, and making no caps
           - examples: footwear, beads_and_sequins water-tight_solvent
        - abbreviations use ALL_CAPS - examples: EU, GOTS, GRS
  -->

  <define name="PRODUCT_CATEGORY">
    <element name="product_category">
      <list>
        <choice>
          <value>clothing</value>
          <value>accessories</value>
          <value>footwear</value>
          <value>other</value>
        </choice>
      </list>
    </element>
  </define>

  <define name="PRODUCT_TYPE">
    <element name="product_type">
      <text />
      <!-- in development: adding choices
           i am keeping track of the used xml categories here
        <list>
            <choice>
              <value>t-shirt</value>
            </choice>
        </list>
        -->
    </element>
  </define>

  <define name="PRODUCT_WEIGHT">
    <element name="product_weight">
      <text /> <!-- TODO: replace this with a decimal or null type field in the future -->
      <attribute name="unit">
        <list>
          <choice>
            <value>g</value>
            <value>kg</value>
            <value>oz</value>
            <value>lb</value>
          </choice>
        </list>
      </attribute>
    </element>
  </define>

  <define name="CERTIFICATION"> <!-- these are product certifications -->
    <element name="certification">
      <text />
      <!-- in development: adding choices
           these are certifications for the PRODUCT
        <list>
            <choice>
                <value>CERTIFICATION 1</value>
                <value>CERTIFICATION 2</value>
                <value>CERTIFICATION 3</value>
                <value>CERTIFICATION 4</value>
            </choice>
        </list>
        -->
    </element>
  </define>

  <define name="CONTENT">
    <element name="content">
      <list>
        <choice>
          <value>abaca</value>
          <value>bamboo</value>
          <value>banana</value>
          <value>bee_wax</value>
          <value>coconut</value>
          <value>cork</value>
          <value>corn</value>
          <value>corozo</value>
          <value>cotton</value>
          <value>hemp</value>
          <value>jute</value>
          <value>kapok</value>
          <value>manila_hemp</value>
          <value>mother_of_pearl</value>
          <value>natural_latex</value>
          <value>natural_rubber</value>
          <value>nettle</value>
          <value>organic_cotton</value>
          <value>organic_hemp</value>
          <value>organic_linen</value>
          <value>pineapple_fiber</value>
          <value>ramie</value>
          <value>sisal</value>
          <value>soy</value>
          <value>stone_nut</value>
          <value>vegetable_ivory</value>
          <value>wax</value>
          <value>wood</value>
          <value>alpaca</value>
          <value>casein</value>
          <value>cashmere</value>
          <value>merino_wool</value>
          <value>mohair</value>
          <value>micro_modal</value>

          <value>organic_wool</value>
          <value>organic_silk</value>
          <value>peace_silk</value>
          <value>silk</value>
          <value>wool</value>
          <value>yak</value>
          <value>bamboo_rayon</value>
          <value>cupro</value>
          <value>ecovero</value>
          <value>lyocell</value>
          <value>modal</value>
          <value>orange_fiber</value>
          <value>rayon</value>
          <value>refibra</value>
          <value>tencel</value>
          <value>viscose</value>
          <value>acetate</value>
          <value>acrylic</value>
          <value>bio-PDO</value>
          <value>biodegradable_polyester</value>
          <value>cellulose_acetate</value>
          <value>econyl</value>
          <value>elastane</value>
          <value>modacrylic</value>
          <value>nylon</value>
          <value>polyamide</value>
          <value>polyester</value>
          <value>polyether</value>
          <value>polyethylene</value>
          <value>polylactic_acid</value>
          <value>polyurethane</value>
          <value>resin</value>
          <value>solvent-free_polyurethane</value>
          <value>triacetate</value>
          <value>water-based_polyurethane</value>
          <value>aluminium</value>
          <value>brass</value>
          <value>bronze</value>
          <value>metal</value>
          <value>ivory_nut</value>
          <value>copper</value>
          <value>nickel</value>
          <value>stainless_steel</value>
          <value>titanium</value>
          <value>zinc</value>
          <value>zinc_alloy</value>
          <value>water-based_adhesive</value>
          <value>solvent-free_adhesive</value>
          <value>biodegradable_polymer</value>
          <value>lycra</value>
        </choice>
      </list>
    </element>
  </define>


  <define name="MATERIAL_TYPE">
    <element name="type">
      <list>
        <choice>
          <value>fabric</value>
          <value>yarn</value>
          <value>trim</value>
          <value>leather</value>
          <value>alternative_leather</value>
        </choice>
      </list>
    </element>
  </define>

  <define name="WEIGHT">
    <element name="weight">
      <data type="decimal"/>
      <attribute name="unit">
        <list>
          <choice>
            <value>gsm</value>
          </choice>
        </list>
      </attribute>
    </element>
  </define>

  <define name="FINISHING">
    <element name="finishing">
      <list>
        <choice>
          <value>beading_sequins</value>
          <value>prepared_for_dyeing</value>
          <value>ready_to_dye</value>
          <value>sheared_or_singed</value>
          <value>washed</value>
          <value>calendered</value>
          <value>caseins</value>
          <value>coated</value>
          <value>desized</value>
          <value>embroidery</value>
          <value>fillers</value>
          <value>matting_agents</value>
          <value>mercerized</value>
          <value>natural</value>
          <value>oils</value>
          <value>raised</value>
          <value>roughened</value>
          <value>sanforized</value>
          <value>softening_agents</value>
          <value>washed</value>
          <value>waxes</value>
        </choice>
      </list>
    </element>
  </define>

  <define name="COLOUR">
    <element name="colour">
      <list>
        <choice>
          <value>beige</value>
          <value>black</value>
          <value>blue</value>
          <value>brown</value>
          <value>coral</value>
          <value>gold</value>
          <value>green</value>
          <value>grey</value>
          <value>khaki</value>
          <value>navy</value>
          <value>nude</value>
          <value>off-white</value>
          <value>orange</value>
          <value>pink</value>
          <value>purple</value>
          <value>red</value>
          <value>rose</value>
          <value>silver</value>
          <value>taupe</value>
          <value>teal</value>
          <value>turquoise</value>
          <value>untreated</value>
          <value>white</value>
          <value>yellow</value>
        </choice>
      </list>
    </element>
  </define>

  <define name="PATTERN">
    <element name="pattern">
      <list>
        <choice>
          <value>none</value>
          <value>abstract</value>
          <value>baby_and_kids</value>
          <value>black_and_white</value>
          <value>check</value>
          <value>checked</value>
          <value>chevron</value>
          <value>damask</value>
          <value>dotted</value>
          <value>floral</value>
          <value>geometric</value>
          <value>gingham</value>
          <value>heathered</value>
          <value>herringbone</value>
          <value>houndstooth</value>
          <value>marled</value>
          <value>melange</value>
          <value>mixed</value>
          <value>motifs_for_children</value>
          <value>ombre</value>
          <value>other_pattern</value>
          <value>other</value>
          <value>paisley</value>
          <value>self_striping</value>
          <value>stars</value>
          <value>striped</value>
          <value>stripes</value>
          <value>tartan</value>
          <value>unicoloured</value>
        </choice>
      </list>
    </element>
  </define>

  <define name="DYEING_METHOD">
    <element name="dyeing_method">
      <list>
        <choice>
          <value>none</value>
          <value>top_dyed</value>
          <value>yarn_dyed</value>
          <value>dope_dyed</value>
          <value>aniline</value>
          <value>dyed_through</value>
          <value>pigmented</value>
          <value>top_coat</value>
          <value>piece_dyed</value>
          <value>reactive_dyed</value>

        </choice>
      </list>
    </element>
  </define>


  <define name="PRINTING_METHOD">
    <element name="printing_method">
      <list>
        <choice>
          <value>none</value>
          <value>digital_printed</value>
          <value>hand_painted</value>
          <value>inkjet_printed</value>
          <value>roller_printed</value>
          <value>screen_printed</value>
          <value>rotary_printed</value>
        </choice>
      </list>
    </element>
  </define>

  <define name="TANNING_METHOD">
    <element name="tanning_method">
        <list>
          <choice>
              <value>synthetic</value>
              <value>vegetable</value>
          </choice>
        </list>
    </element>
  </define>

  <define name="PRETANNING_METHOD">
    <element name="pretanning_method">
        <list>
          <choice>
              <value>synthetic</value>
              <value>vegetable</value>
          </choice>
        </list>
    </element>
  </define>

  <define name="CHEMICAL_COMPLIANCE">
    <element name="chemical_compliance">
        <list>
          <choice>
              <value>C2C</value>
              <value>fairtrade_prohibited_material_list</value>
              <value>global_recycling_standard</value>
              <value>IVN</value>
              <value>REACH</value>
              <value>ZDHC</value>
              <value>MRSL</value>
              <value>ECHA_SVHC_candidate_list</value>
          </choice>
        </list>
    </element>
  </define>

  <define name="CONSTRUCTION">
    <element name="construction">
      <list>
        <choice>
          <value>birds_eye</value>
          <value>cable</value>
          <value>cardigan</value>
          <value>fleece</value>
          <value>french_terry</value>
          <value>intarsia</value>
          <value>interlock</value>
          <value>jacquard_jersey</value>
          <value>lacoste</value>
          <value>milano_rib</value>
          <value>pointelle</value>
          <value>purl_knit</value>
          <value>rachel</value>
          <value>rib_knit</value>
          <value>single_jersey</value>
          <value>jersey</value>
          <value>sweater</value>
          <value>sliver_knit</value>
          <value>tricot</value>
          <value>velour</value>
          <value>plain_weave</value>
          <value>basket_weave</value>
          <value>buckram</value>
          <value>cambric</value>
          <value>chiffon</value>
          <value>chintz</value>
          <value>corduroy</value>
          <value>crepe</value>
          <value>denim</value>
          <value>dobby</value>
          <value>drill</value>
          <value>flannel</value>
          <value>gabardine</value>
          <value>georgette</value>
          <value>jacquard</value>
          <value>khadi</value>
          <value>boucle</value>
          <value>pique</value>
          <value>poplin</value>
          <value>satin</value>
          <value>sateen</value>
          <value>taffeta</value>
          <value>twill</value>
          <value>non_woven</value>
          <value>woven</value>

          <!-- from alternative leather: -->
          <value>non_woven_dry_laid</value>
          <value>non_woven_wet_laid</value>
          <value>non_woven_spunlaid</value>
          <value>non_woven_meltblown</value>
          <value>non_woven_needle-punched</value>
          <value>bonded</value>
          <value>naturally_occurring</value>
          <value>lab_grown</value>
          <value>biotextile</value>
          <!-- from trim type: -->
          <value>beads</value>
          <value>braid</value>
          <value>metal</value>
          <value>buckle</value>
          <value>button</value>
          <value>care_label</value>
          <value>collar_stay</value>
          <value>elastic</value>
          <value>eyelet_grommet</value>
          <value>fusing_material</value>
          <value>hook_and_loop</value>
          <value>interfacing</value>
          <value>lace</value>
          <value>label</value>
          <value>piping_cord </value>
          <value>rivets</value>
          <value>seam_sealing_tape</value>
          <value>sequins</value>
          <value>shoulder_pad</value>
          <value>string_draw_cord</value>
          <value>swivel_hook</value>
          <value>twill_tape</value>
          <value>velcro_tape</value>
          <value>wadding </value>
          <value>zipper</value>
        </choice>
      </list>
    </element>
  </define>


  <define name="BIODEGRADABILITY_CERTIFICATION">
    <element name="biodegradability_certification">
        <list>
          <choice>
            <value>ISO_11721-1</value>
            <value>ISO_846</value>
            <value>en_13432</value>
            <value>OECD_301_A</value>
            <value>OECD_301_E</value>
            <value>ISO_7827</value>
            <value>OECD_302_A</value>
            <value>ISO_9887</value>
            <value>OECD_302_B</value>
            <value>ISO_9888</value>
            <value>OECD_303_A</value>
            <value>OECD_301_D</value>
            <value>OECD_310</value>
            <value>DIN_EN_ISO_14593</value>
            <value>DIN_EN_ISO_9408</value>
            <value>OECD_301_F</value>
            <value>OECD_302_A</value>
            <value>CEC-L-103-12</value>
            <value>OECD_311</value>
            <value>DIN_EN_ISO_11734</value>
          </choice>
        </list>
    </element>
  </define>

  <define name="MATERIAL_CERTIFICATION">
    <element name="material_certification">
        <list>
          <choice>
            <value>C2C_bronce</value>
            <value>C2C_silver</value>
            <value>C2C_gold</value>
            <value>C2C_platin</value>
            <value>GOTS</value>
            <value>EU_ecolabel</value>
            <value>BSCI</value>
            <value>fairtrade</value>
            <value>REACH</value>
            <value>SA8000</value>
            <value>C2C_silver</value>
            <value>C2C_gold</value>
            <value>C2C_platin</value>
            <value>GRS</value>
            <value>GOTS</value>
            <value>ILO</value>
            <value>global_compact</value>
            <value>naturleder</value>
            <value>IVN</value>
            <value>LWG_gold</value>
            <value>LWG_silver</value>
            <value>LWG_bronze</value>
            <value>ecopelle</value>
            <value>bluesign</value>
            <value>ICEC</value>
            <value>OEKO-TEX_STeP</value>
            <value>OEKO-TEX_Standard_100</value>
            <value>MSDS_raw_material_origin</value>
            <value>MSDS_spinning</value>
            <value>MSDS_dyeing</value>
            <value>MSDS_finishing</value>
            <value>ICEC_chemicals_management_system</value>
            <value>ICEC_eco-leathers</value>
            <value>ICEC_environmental_management_system</value>
            <value>ICEC_leather_traceability</value>
            <value>ICEC_occupational_health_and_safety_management_system</value>
            <value>ICEC_product_certification_for_finished_leathers</value>
            <value>ICEC_quality_management_system</value>
            <value>UNIC</value>
            <value>RCS</value>
            <value>OEKO-TEX_leather_standard</value>
          </choice>
        </list>
    </element>
  </define>

  <define name="NOTEMPTY">
    <data type="string">
      <!-- allow for newlines, but not just whitespace -->
      <param name="pattern">(.|\n|\r)*\S(.|\n|\r)*</param>
      <!-- at least one character should be included -->
      <param name="minLength">1</param>
    </data>
  </define>

</grammar>
